
.DS_Store
Hardware/Base/Base.s#*
Hardware/Base/Base.b#*
*.d
*.o
*.crf
*.htm
*.map
*.lnp
*.axf
*.lst
*.dep
*.JonathanKornich
*.uvoptx
*.uvprojx
*.scvd
*.iex
Software/Base/RTE/_Target_1/RTE_Components.h
Software/Base/RTE/Device/TM4C123GH6PM/startup_TM4C123.s
Software/Base/RTE/Device/TM4C123GH6PM/system_TM4C123.c
