
.DS_Store
Hardware/Base/Base.s#*
Hardware/Base/Base.b#*
*.d
*.o
*.crf
*.htm
*.map
*.lnp
*.axf
*.lst
*.dep
*.JonathanKornich
*.uvoptx
*.uvprojx
*.scvd
*.iex
Software/Base/RTE/_Target_1/RTE_Components.h
Software/Base/RTE/Device/TM4C123GH6PM/startup_TM4C123.s
Software/Base/RTE/Device/TM4C123GH6PM/system_TM4C123.c
Hardware/Hand/Hand.b#1
Hardware/Hand/Hand.b#2
Hardware/Hand/Hand.b#3
Hardware/Hand/Hand.b#4
Hardware/Hand/Hand.b#5
Hardware/Hand/Hand.b#6
Hardware/Hand/Hand.b#7
Hardware/Hand/Hand.b#8
Hardware/Hand/Hand.b#9
Software/Glove/RTE/_Target_1/RTE_Components.h
Software/Glove/RTE/Device/TM4C123GH6PM/startup_TM4C123.s
Software/Glove/RTE/Device/TM4C123GH6PM/system_TM4C123.c
Hardware/Hand/Hand.s#1
